.git
**/.terraform
**/*.backup
**/*.log
**/*.out
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.*
**/lambda.zip
**/terraform.tfvars
**/*.auto.tfvars
**/__pycache__/
